@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root {
    --bg-color: #f7f7f7;
    --primary-steel-blue: #4682b4;
    --light-blue: #38bdf8;
    --card-color: #a1c3ff;
    --light-grey-color: #d3d3d3;
    /* --light-grey-color: #edf2f8; */
    --secondary-color: #015;
     --dark-blue: #0f172a; 
    --hover-color: #0151cc;
    --shadow-color: #00000099;
    --txt-color: #292929
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--bg-color);
    border-top: var(--primary-steel-blue) 5px solid;
    color: var(--txt-color);

}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px;
}

/*Default*/
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

/*nav bar - header*/
.navbar {
    max-width: 100%;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.logo:hover {
    transform: scale(1.1);
}
span {
    color: var(--primary-steel-blue);
}

#menu-icon {
    font-size: 2rem;
    color: var(--primary-steel-blue);
    display: none;
}

.navbar ul  {
    display: flex;
    gap: 15px;
    color: black;
}
.navbar a {
    color: black;
    
}

.navbar ul a:hover {
    color: var(--hover-color);
    border-bottom: 2px var(--hover-color) solid;
    
}

/* Home Page */
.home-content {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.home-content h2{
    font-weight: 500;
    font-size: 3rem;
}
.home-content h3{
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 8px;
    color: steelblue;
}
.home-content button {
    background-color: var(--primary-steel-blue);
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    margin: 20px 0;
    font-size: 18px;
    transition: 0.3s ease;
}
.home-content button:hover {
    transform: scale(1.08);
}


.intro {
    border-left: steelblue 3px solid;
    padding-left: 1rem;
    border-radius: 8px;

}

.social-icons a{
    display: inline-flex;
    color: var(--primary-steel-blue);
    font-size: 2.3rem;
    transition: 0.3s ease-in;
    padding: 8px;
    margin: 8px;
    border: var(--card-color) 2px solid;
    border-radius: 50%;
}
.social-icons a:hover {
    transform: scale(1.2) translateY(-5px);
    background-color: var(--primary-steel-blue);
    color: white;
}

.profile-img {
    max-width: 500px;
    border-radius: 50% 50% 0% 50%;
    border: 4px solid var(--primary-steel-blue);
    overflow: hidden;
    box-shadow: 0 0 25px var(--primary-steel-blue); /**glowing effect*/
    transition: 0.4s ease-in-out;
}

.profile-img img {
    width: 100%;
    height: auto;
    display: block;
}

.profile-img:hover {
    box-shadow: 0 0 25px var(--primary-steel-blue),
                0 0 25px var(--primary-steel-blue),
                0 0 25px var(--primary-steel-blue),
                0 0 25px var(--primary-steel-blue);
}

/* About Page */
.about {
    margin-top: 2rem;
    background-color: var(--dark-blue);
    color: white;
    /* text-align: center; */
    padding: 50px 15px;
    
}

.about h1 {
    font-size: 2.5rem;
    font-weight: 600;
    border-left: 3px solid white;
    /* border-right: 3px dashed white; */
    padding: 0 1rem;
    letter-spacing: 1px;
    display: inline-block; /*wrap content*/
    margin-bottom: 40px;
}
  


.inner-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* background-color: #0151cc; */
    gap: 40px;
    align-items: start;
}

.about-intro p {
    margin-top: 20px;
    line-height: 1.7;
}
.about-intro p:nth-of-type(1) span{
    background: linear-gradient(
    to right,
    var(--card-color),
    var(--light-blue),
    var(--primary-steel-blue));

    background-clip: text;
    display: inline-block;
    color: transparent;
}

.gradient-txt {
    background: linear-gradient(
    to right,
    var(--card-color),
    var(--light-blue),
    var(--primary-steel-blue));

    background-clip: text;
    display: inline-block;
    color: transparent;
    margin-bottom: 20px;
    font-size: 2rem;
    position: relative;
}


/* Bottom line */
.about-highlights h2::after {
    content: "";
    position: absolute;
    bottom: -5px;  
    left: 0;
    width: 90px;            
    height: 1px;            
    background-color: var(--primary-steel-blue);
    border-radius: 1px; 
} 

.about-highlights h2::before {
    content: "";
    position: absolute;
    bottom: -10px;  
    left: 0;
    width: 40px;            
    height: 1px;            
    background-color: var(--primary-steel-blue);
    border-radius: 1px; 
} 


.about-highlights ul{
    list-style-type: circle; 
}
.about-highlights li {
    margin-bottom: 20px;
}

.cta-skills {
    margin-top: 20px;
    background-color: var(--primary-steel-blue);
    border-radius: 8px;
    display: inline-block;
    padding: 15px 20px;
    transition: 0.3s ease-in;
}
.cta-skills:hover {
    transform: scale(1.08);
}

.cta-skills a {
    text-decoration: none;
    color: white; 
}

.cta-skills i {
    vertical-align: middle;
}

/*MARK: Skills Page */
.skill {
    background-color: var(--light-grey-color);
    color: var(--txt-color);
    text-align: center;
    padding: 50px 15px;
}

.section-title {
    font-weight: 600;
    font-size: 2rem;
    color: var(--primary-steel-blue);
    display: inline-block;
    position: relative;
}

/* Bottom line */
.section-title::after {
    content: "";
    position: absolute;
    bottom: 0px;  
    left: 50%;
    transform: translateX(-50%);
    width: 80px;            
    height: 1px;            
    background-color: var(--primary-steel-blue);
    border-radius: 1px; 
}

.section-title::before {
    content: "";
    position: absolute;
    bottom: -4px;  
    left: 50%;
    transform: translateX(-50%);
    width: 40px;            
    height: 1px;            
    background-color: var(--primary-steel-blue);
    border-radius: 1px; 
}
.skill p {
    margin: 20px 0px 30px 0px;
    font-weight: 400;
    font-size: 1rem;
}
.rocket {
  display: inline-block;
  animation: rocketFloat 2s ease-in-out infinite;
}

@keyframes rocketFloat {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-4px); }
  100% { transform: translateY(0); }
}

.skill-grid {    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
    
    

}

.skill-card {
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(135deg, var(--card-color), var(--shadow-color)); */
    background: linear-gradient(180deg, transparent, #a1c3ff71);
    border-radius: 20px; 
    padding: 15px 20px 30px;
    box-shadow: 0 10px 25px #00000026;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

/* Diagonal top accent */
.skill-card::before {
    content: "";
    position: absolute;
    top: 10;
    left: -100%;
    width: 200%;
    height: 10px;
    background: #a1c3ff3f;
    transform: rotate(-23deg);
}

/*Background Animation*/
/**.skill-card::after {
    /* "\f370" 
    content: ''; 
    /* font-family: "Font Awesome 6 Brands"; 
    font-size: 120px;
    color: #a1c3ff3f;
    position: absolute;
    top: -30%;/* starting position above the card 
    left: -30%;/* start slightly left 
    z-index: 0;
    pointer-events: none;
    animation: moveDiagonal 20s linear infinite; /* calls the keyframes animation 
}
**/

.skill-card::after {
    content: "";
    position: absolute;
    inset: -30%;
    background-image: var(--card-bg-image);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: center;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
    animation: moveDiagonal 12s linear infinite;
}

/* Main content stays above */
.skill-card>* {
    position: relative;
    z-index: 1;
}

/** Diagonal movement keyframes
*
    - 0%=start of animation - icon starts off top-left
    - 50%=midpoint (bottom-right)  - icon moves to bottom-right, rotates 180°, and slighrly scales us(1.05x)
    - 100%=end of animation,loops back to start - icon returns to top-left, rotated 360° for a smooth loop

 */
@keyframes moveDiagonal {
    0% {
        top: -40%;
        left: -10%;
        transform: rotate(0deg) scale(1);
    }

    50% {
        top: 60%;
        left: 60%;
        transform: rotate(180deg) scale(1.05);
    }

    100% {
        top: -30%;
        left: -10%;
        transform: rotate(360deg) scale(1);
    }
}

/* Hover effect */
.skill-card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 20px 40px #00000040;
}
.skill-card h3 {
    color: var(--primary-steel-blue);
    font-size: 600;
}

 

.skill-card i {
    font-size: 4rem;
    color: black;
    margin-bottom: 8px;
}

.skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 8px;
}

.skill-card li {
     display: flex; /*align text center */
    align-items: center;
    justify-content: center;

    margin-top: 8px;
    text-align: center;
    background-color: #0000000d;
    border-radius: 5px;
    border: 1px solid #a1c3ff61;
    padding: 5px 8px;
    word-break: break-word;
    
}



/*MARK: Projects*/

.project {
    color: var(--txt-color);
    text-align: center;
    padding: 50px 15px;
}

.project-card {
    margin-top: 30px;
    border: 1px var(--light-grey-color) solid;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 8px;
}
.project-images{
    display: flex;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #a1c3ff25;
    padding: 16px;
    
}
.project-images img {
    width: 100%;
    height: 500px;
    object-fit: contain;
   
    
}
























/* Footer */
footer {
    text-align: center;
    padding: 20px;
    color: var(--primary-steel-blue);
}